
.pdfev-embed-viewer{
    
    .archive-list-style{
        overflow-x: auto;
        table{
            text-align: left;
            border-collapse: collapse;
            transition: all .5s;
            border:1px solid  var(--pdfev-secondary);
            width: 100%;
            overflow-x: auto;
            th{
                background: var(--pdfev-light);
                padding: .5em;
                border:0;
                border-bottom: 1px solid  var(--pdfev-secondary);
                color:var(--pdfev-dark);
                &:first-child{
                    text-align: start;
                    width: 45%;
                }
                &:last-child{
                    text-align: end;
                }
            }
            td{
                padding: .5em;
                color: var(--pdfev-secondary);
                font-weight: normal;
                border:0;
                &:first-child{
                    font-weight: bold;
                    text-align: start;
                    width: 45%;
                }
                &:last-child{
                    text-align: end;
                    font-weight: normal;
                }
            }
            tr:nth-child(odd){
                background: var(--pdfev-light);
                border:0;
            }
        }   
            
    }
}
