@use 'basic';
@use 'list';
@use 'grid';
@use 'ebook';
@use 'newsletter';

:root{
    --pdfev-primary:#c79f62;
    --pdfev-secondary:#666;
    --pdfev-light:#e5e5e5;
    --pdfev-dark:#333;
    --pdfev-black:#000;
    --pdfev-white:#fff;
}
