
.pdfev-3dbook-container {
  box-sizing: border-box;
  padding-top: min(60%, 80vh);
  position: relative;
  background-color: #fafafa;
  margin-bottom: 25px;
}
.pdfev-3dbook-viewer{
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}