:root {
  --pdf-emd-vwr-primary:#c79f62;
  --pdf-emd-vwr-secondary:#666;
  --pdf-emd-vwr-light:#e5e5e5;
  --pdf-emd-vwr-dark:#333;
  --pdf-emd-vwr-black:#000;
  --pdf-emd-vwr-white:#fff;
}

/*================body============*/
.pdfev-embed-viewer {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
}
.pdfev-embed-viewer a {
  text-decoration: none;
  color: var(--pdf-emd-vwr-primary);
  font-weight: bold;
}
.pdfev-embed-viewer h1 {
  color: var(--pdf-emd-vwr-dark);
}
.pdfev-embed-viewer .button, .pdfev-embed-viewer .download-btn {
  background: var(--pdf-emd-vwr-primary);
  padding: 0.1em 0.5em;
  border-radius: 0.25em;
  color: var(--pdf-emd-vwr-white);
  font-weight: normal;
}
.pdfev-embed-viewer .download-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
}
.pdfev-embed-viewer .pdf-viewer {
  margin: 0.5em 0;
  width: 100%;
  height: 1024px;
}
.pdfev-embed-viewer .pagination {
  width: max-content;
  margin: 1rem auto;
}
.pdfev-embed-viewer .pagination .page-numbers {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid var(--pdf-emd-vwr-secondary);
}
.pdfev-embed-viewer .pagination .page-numbers.current {
  background-color: var(--pdf-emd-vwr-primary);
  color: var(--pdf-emd-vwr-white);
}

/*==================footer pagination================*/
.pdfev-embed-viewer .archive-list-style {
  overflow-x: scroll;
}
.pdfev-embed-viewer .archive-list-style table {
  text-align: left;
  border-collapse: collapse;
  transition: all 0.5s;
  border: 1px solid var(--pdf-emd-vwr-secondary);
  width: 100%;
}
.pdfev-embed-viewer .archive-list-style table th {
  background: var(--pdf-emd-vwr-light);
  padding: 0.5em;
  border: 0;
  border-bottom: 1px solid var(--pdf-emd-vwr-secondary);
  color: var(--pdf-emd-vwr-dark);
}
.pdfev-embed-viewer .archive-list-style table th:first-child {
  text-align: start;
  width: 45%;
}
.pdfev-embed-viewer .archive-list-style table th:last-child {
  text-align: end;
}
.pdfev-embed-viewer .archive-list-style table td {
  padding: 0.5em;
  color: var(--pdf-emd-vwr-secondary);
  font-weight: normal;
  border: 0;
}
.pdfev-embed-viewer .archive-list-style table td:first-child {
  font-weight: bold;
  text-align: start;
  width: 45%;
}
.pdfev-embed-viewer .archive-list-style table td:last-child {
  text-align: end;
  font-weight: normal;
}
.pdfev-embed-viewer .archive-list-style table tr:nth-child(odd) {
  background: var(--pdf-emd-vwr-light);
  border: 0;
}

.pdfev-embed-viewer .archive-grid-style {
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-wrap: wrap;
}
.pdfev-embed-viewer .archive-grid-style .grid-item {
  width: 24%;
  border: 1px solid var(--pdf-emd-vwr-light);
  margin: 5px;
  position: relative;
}
.pdfev-embed-viewer .archive-grid-style .grid-item .date {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 12px;
  color: var(--pdf-emd-vwr-white);
  background-color: var(--pdf-emd-vwr-primary);
  margin: 0;
  z-index: 2;
}
.pdfev-embed-viewer .archive-grid-style .grid-item .image {
  width: 100%;
  height: 180px;
}
.pdfev-embed-viewer .archive-grid-style .grid-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.pdfev-embed-viewer .archive-grid-style .grid-item .image::before {
  content: "";
  width: 100%;
  height: inherit;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.468));
}
.pdfev-embed-viewer .archive-grid-style .grid-item .content {
  padding: 5px;
}
.pdfev-embed-viewer .archive-grid-style .grid-item .content h2 {
  margin: 5px 0;
  padding: 5px 0;
  font-size: 1rem;
  font-weight: bold;
}
.pdfev-embed-viewer .archive-grid-style .grid-item .content .action {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.pdfev-embed-viewer .archive-ebook-style {
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-wrap: wrap;
}
.pdfev-embed-viewer .archive-ebook-style .grid-item {
  width: 24%;
  margin: 5px;
  position: relative;
}
.pdfev-embed-viewer .archive-ebook-style .grid-item .image {
  width: auto;
  height: 280px;
}
.pdfev-embed-viewer .archive-ebook-style .grid-item .image img {
  max-width: 180px;
  height: 100%;
  object-fit: cover;
}
.pdfev-embed-viewer .archive-ebook-style .grid-item .content {
  padding: 5px;
  padding-left: 0;
}
.pdfev-embed-viewer .archive-ebook-style .grid-item .content h2 {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  font-size: 1rem;
  font-weight: bold;
}
.pdfev-embed-viewer .archive-ebook-style .grid-item .content h2 a {
  color: var(--pdf-emd-vwr-dark);
}
.pdfev-embed-viewer .archive-ebook-style .grid-item .content .action {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.pdfev-embed-viewer .archive-ebook-style .grid-item .content .action a {
  font-weight: normal;
}

.pdfev-embed-viewer .archive-newsletter-style {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 992px) {
  .pdfev-embed-viewer .archive-newsletter-style {
    flex-direction: row;
  }
}
.pdfev-embed-viewer .archive-newsletter-style [data-tab-content] {
  display: none;
  transition: all 0.5s;
}
.pdfev-embed-viewer .archive-newsletter-style .active[data-tab-content] {
  display: block;
  transition: all 0.5s;
}
.pdfev-embed-viewer .archive-newsletter-style .tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: var(--pdf-emd-vwr-light);
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 1em;
  overflow-y: scroll;
}
@media (min-width: 992px) {
  .pdfev-embed-viewer .archive-newsletter-style .tabs {
    width: 10%;
    height: auto;
  }
}
.pdfev-embed-viewer .archive-newsletter-style .tabs .tab {
  cursor: pointer;
  padding: 0.5em;
  text-align: center;
  font-weight: bold;
  color: var(--pdf-emd-vwr-secondary);
  transition: all 0.5s;
}
.pdfev-embed-viewer .archive-newsletter-style .tabs .tab.active {
  color: var(--pdf-emd-vwr-primary);
}
.pdfev-embed-viewer .archive-newsletter-style .tabs .tab:hover {
  color: var(--pdf-emd-vwr-primary);
}
.pdfev-embed-viewer .archive-newsletter-style .tabs-content {
  width: 100%;
}
@media (min-width: 992px) {
  .pdfev-embed-viewer .archive-newsletter-style .tabs-content {
    width: 90%;
  }
}
.pdfev-embed-viewer .archive-newsletter-style .tabs-content table {
  text-align: left;
  border-collapse: collapse;
  transition: all 0.5s;
  border: 0;
  width: 100%;
}
.pdfev-embed-viewer .archive-newsletter-style .tabs-content table th {
  background: var(--pdf-emd-vwr-light);
  padding: 0.5em;
  border: 0;
  border-bottom: 1px solid var(--pdf-emd-vwr-secondary);
  color: var(--pdf-emd-vwr-dark);
}
.pdfev-embed-viewer .archive-newsletter-style .tabs-content table td {
  padding: 0.5em;
  color: var(--pdf-emd-vwr-secondary);
  font-weight: bold;
  border: 0;
}
.pdfev-embed-viewer .archive-newsletter-style .tabs-content table tr:nth-child(odd) {
  background: var(--pdf-emd-vwr-light);
  border: 0;
}

/*# sourceMappingURL=frontend.css.map */
