:root {
  --pdf-emd-vwr-primary:#c79f62;
  --pdf-emd-vwr-secondary:#666;
  --pdf-emd-vwr-light:#e5e5e5;
  --pdf-emd-vwr-dark:#333;
  --pdf-emd-vwr-black:#000;
  --pdf-emd-vwr-white:#fff;
}

/*================body============*/
.pdf-embed-viewer {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
}
.pdf-embed-viewer a {
  text-decoration: none;
  color: var(--pdf-emd-vwr-primary);
  font-weight: bold;
}
.pdf-embed-viewer h1 {
  color: var(--pdf-emd-vwr-dark);
}
.pdf-embed-viewer .button, .pdf-embed-viewer .download-btn {
  background: var(--pdf-emd-vwr-primary);
  padding: 0.1em 0.5em;
  border-radius: 0.25em;
  color: var(--pdf-emd-vwr-white);
  font-weight: normal;
}
.pdf-embed-viewer .download-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
}
.pdf-embed-viewer .pdf-viewer {
  margin: 0.5em 0;
  width: 100%;
  height: 1024px;
}

/*==================footer pagination================*/
.pagination {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.archive-list-style table {
  text-align: left;
  border-collapse: collapse;
  transition: all 0.5s;
  border: 1px solid var(--pdf-emd-vwr-secondary);
  width: 100%;
}
.archive-list-style table th {
  background: var(--pdf-emd-vwr-light);
  padding: 0.5em;
  border: 0;
  border-bottom: 1px solid var(--pdf-emd-vwr-secondary);
  color: var(--pdf-emd-vwr-dark);
}
.archive-list-style table th:first-child {
  text-align: start;
  width: 45%;
}
.archive-list-style table th:last-child {
  text-align: end;
}
.archive-list-style table td {
  padding: 0.5em;
  color: var(--pdf-emd-vwr-secondary);
  font-weight: normal;
  border: 0;
}
.archive-list-style table td:first-child {
  font-weight: bold;
  text-align: start;
  width: 45%;
}
.archive-list-style table td:last-child {
  text-align: end;
  font-weight: normal;
}
.archive-list-style table tr:nth-child(odd) {
  background: var(--pdf-emd-vwr-light);
  border: 0;
}

.news-letter-style {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 992px) {
  .news-letter-style {
    flex-direction: row;
  }
}
.news-letter-style [data-tab-content] {
  display: none;
  transition: all 0.5s;
}
.news-letter-style .active[data-tab-content] {
  display: block;
  transition: all 0.5s;
}
.news-letter-style .tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: var(--pdf-emd-vwr-light);
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 1em;
  overflow-y: scroll;
}
@media (min-width: 992px) {
  .news-letter-style .tabs {
    width: 10%;
    height: 500px;
  }
}
.news-letter-style .tabs .tab {
  cursor: pointer;
  padding: 0.5em;
  text-align: center;
  font-weight: bold;
  color: var(--pdf-emd-vwr-secondary);
  transition: all 0.5s;
}
.news-letter-style .tabs .tab.active {
  color: var(--pdf-emd-vwr-primary);
}
.news-letter-style .tabs .tab:hover {
  color: var(--pdf-emd-vwr-primary);
}
.news-letter-style .tabs-content {
  width: 100%;
}
@media (min-width: 992px) {
  .news-letter-style .tabs-content {
    width: 90%;
  }
}
.news-letter-style .tabs-content table {
  text-align: left;
  border-collapse: collapse;
  transition: all 0.5s;
  border: 0;
  width: 100%;
}
.news-letter-style .tabs-content table th {
  background: var(--pdf-emd-vwr-light);
  padding: 0.5em;
  border: 0;
  border-bottom: 1px solid var(--pdf-emd-vwr-secondary);
  color: var(--pdf-emd-vwr-dark);
}
.news-letter-style .tabs-content table td {
  padding: 0.5em;
  color: var(--pdf-emd-vwr-secondary);
  font-weight: bold;
  border: 0;
}
.news-letter-style .tabs-content table tr:nth-child(odd) {
  background: var(--pdf-emd-vwr-light);
  border: 0;
}

/*# sourceMappingURL=frontend.css.map */
