:root{
    --pdfev-primary:#c79f62;
    --pdfev-secondary:#666;
    --pdfev-gray:#ddd;
    --pdfev-light:#e5e5e5;
    --pdfev-dark:#333;
    --pdfev-black:#000;
    --pdfev-white:#fff;
}

$primary : var(--pdfev-primary);
$secondary : var(--pdfev-secondary);
$light : var(--pdfev-light);
$gray : var(--pdfev-gray);
$dark : var(--pdfev-dark);
$black : var(--pdfev-black);
$white : var(--pdfev-white);

@import '../font-awesome/fontawesome.scss';
@import 'component';
@import 'metabox';
@import 'settings';