:root{
    --pdfv-primary:#c79f62;
    --pdfv-secondary:#666;
    --pdfv-gray:#ddd;
    --pdfv-light:#e5e5e5;
    --pdfv-dark:#333;
    --pdfv-black:#000;
    --pdfv-white:#fff;
}

$primary : var(--pdfv-primary);
$secondary : var(--pdfv-secondary);
$light : var(--pdfv-light);
$gray : var(--pdfv-gray);
$dark : var(--pdfv-dark);
$black : var(--pdfv-black);
$white : var(--pdfv-white);

@import 'component';
@import 'metabox';
@import 'settings';