
#pdfev-embed-viewer{
    .inside{
        margin: 0;
        padding: 0;
        #pdfev-embed-metabox-tabs{
            display: flex;
            justify-content: space-between;
            aside{
                width: 20%;
                background-color: $light;
                ul{
                    margin: 0;
                    padding: 20px;
                    padding-right: 0;
                    list-style: none;
                    li.pdfev-tab{
                        margin: 0;
                        padding: 10px;
                        border-bottom: 1px solid $gray;
                        font-size: 16px;
                        font-weight: normal;
                        color: $dark;
                        border-left: 2px solid transparent;
                        cursor: pointer;
                        &.active{
                            background-color: $white;
                            border-left: 2px solid $primary;
                        }
                        i{
                            padding: 0 10px;
                            color: $primary;
                        }
                    }
                }
            }
            .content{
                width: 80%;
                padding: 2% 5%;
                .pdfev-tab-content{
                    display: none;
                    &.active {
                        display: block;
                    }
                }
            }

            section{
                border: 1px solid $light;
                margin-top: -1px;
                padding: 15px 10px;
                .label{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p{
                        color: $secondary;
                        font-weight: bold;
                        margin: 0;
                        cursor: pointer;
                    }
                }
                input.pdfev-emd-vwr-file{
                    width: 83%;
                }
            }
        }
    }
}