.pdfev-embed-viewer{
    .nav-tab{
        cursor: pointer;
        float: left;
        border: 1px solid #c3c4c7;
        border-bottom: none;
        margin-left: .5em;
        padding: 5px 10px;
        font-size: 14px;
        line-height: 1.71428571;
        font-weight: 600;
        background: #dcdcde;
        color: #50575e;
        text-decoration: none;
        white-space: nowrap;
        &.active {
            display: block;
            border-bottom: 1px solid #f0f0f1;
            background: #f0f0f1;
            color: #000;
            margin-bottom: -1px;
            box-shadow: none;
        }
    }
    .pdfev-tab-content{
        display: none;
        &.active {
            display: block;
        }
    }
    
}